body {
    font-family: Arial;
    margin: 0;
    background: #ffffff;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: white;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #ffffff, #f0f7ff);
}

.hero-text {
    text-align: center;
}

.input-box {
    margin-top: 20px;
}

input {
    padding: 12px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

button {
    padding: 12px;
    background: #2563EB;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}